@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
html,body{
   font-family: 'Plus Jakarta Sans', sans-serif; 
}
body{
    background: linear-gradient(160deg,#f8fafc ,#e2e8f0 , #f1f5f9);
    background-size: 400% 400%;
}

#navContainer{
    background: linear-gradient(160deg, #2d3748, #4a5568, #718096);
    top:0;
    left:0;
    position:sticky;
    z-index:999;
}

footer{
    background: linear-gradient(160deg, #2d3748, #4a5568, #718096);
    margin-top:100px;
}
.card{
    border-radius: 12px;
    transition: 0.3s;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card-header{
    background: linear-gradient(160deg, #2d3748, #4a5568, #718096);
}
#loginBtn,#signBtn,#getBtn,#themeBtn,#login,#emailGroup,#passGroup{
    background: linear-gradient(160deg, #2d3748, #4a5568, #718096);
    color:white;
    font-weight:600;
    border:none;
}
img{
    animation:float 3s ease-in-out infinite;
}
@keyframes float {
    0%{transform: translateY(0);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0);}    
}
#loginBtn:hover,#getBtn:hover,#signBtn:hover,#themeBtn:hover,#login:hover{
    background: white;
    color:#505967;
    border:1px solid #505967;
}
#heroContainer{
    margin-top: 100px;
}

.navbar-brand{
    letter-spacing: 1px;
}
#heroPara{
    color: #24324A;
}
#cardContainer .card{
    border-radius: 30px;
     font-family:inherit;
}
#cardContainer .card-header{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#loginModal .modal-content {
    border-radius: 20px;
}
#loginModal .form-control{
    height:40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#loginModal .input-group-text{
    height:40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
#login{
    border-radius: 15px;
}
#loginModal .card-title{
    color:#24324A;
}
#cardContainer .card:hover{
    transform: translateY(-12px);
}
#faqContainer{
    margin-top:100px;
    margin-bottom:30px;
}
#faqContainer h2{
    color:#24324A;
}
.accordion-body{
    background:#f8fafc;
    line-height:1.8;
}
/* dark theme */
.dark-theme{
    background: #737987 !important;
}
.dark-theme #navContainer{
    background:#24324A;
}
.dark-theme .card,.dark-theme .modal-content
{
    background: #24324A;
    border:1px solid #3B82F6;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    color:white
}
.dark-theme #heroContainer p,h1{
    font-weight:bold;
}
.dark-theme .modal-header{
    background: #1D4ED8;;
}
.dark-theme .modal-body{
    color:white;
}

.dark-theme .form-control,
.dark-theme .form-select{
    background: #334155;
    color:white;
    border:1px solid #647488;
}
.dark-theme .form-control::placeholder{
    color:#CBD5E1;
}

.dark-theme .input-group-text{
    background: #2563EB;
}
.dark-theme .accordion-item{
    background:#24324A;
    border:1px solid #3B82F6;
}

.dark-theme .accordion-button{
    background:#24324A;
    color:white;
}

.dark-theme .accordion-button:not(.collapsed){
    background:#1D4ED8;
}

.dark-theme .accordion-body{
    background:#334155;
    color:white;
}
.dark-theme footer{
    background: #24324A;
}
@media(max-width:768px){
    #cardContainer .row{
        gap:25px;
    }
    #loginBtn,#signBtn,#themeBtn{
        margin:10px;
    }
}

